body {
  background: #000000;            
  color:  #ffffff;
}

.movie-container > .row{         /*horizontal scroll*/
  overflow-x:  auto;
  flex-wrap: nowrap;
}

/* movie child */
.movie-info {
  width:  100%;
  height: 13%;
  display: inline-block;
}

.movie-title-style {
  margin: 0;
  font-size: 18px;
  text-align: left;
  margin-top: 5%;
}

/*movie container styling*/
.movies {
  width: 25%;
  height: 600px;                     /*hardcode height for images that are smaller*/
}

.poster-style {
  width: 100%;
  height: 70%;
}

.year-style{
  margin-top: 20px;
  font-size: 80%;                     /*font size for year*/
}

.btn {
  margin-top: 10px;
  font-size: 12px;
}

.image-container {
  position:  relative;
  transition:  transform 0.2s;        
}

.image-container:hover {              /*hover*/
  cursor: pointer;
  transform: scale(1.1);
}


